<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>results</title>
  </head>
  <body>
    <h1>Your Pig Latin awaits, my liege</h1>

      <p>
      <%= @answer %>
      </p>
  
  </body>
</html>